# Статические файлы (если они генерируются при сборке)
/static/
/staticfiles/
/assets/

# Локальные настройки (например, .env)
.env
.env.local

# Кэш и временные файлы
*.tmp
*.log
*.cache

# IDE/Editor
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
venv/