{% extends "base.html" %}

{% block title %}О нашей компании{% endblock %}

{% block content %}
<div class="about-page">
    <h1>Гастрономическое путешествие начинается здесь</h1>
    
    <div class="about-section">
        <p>Наша компания создаёт кулинарные впечатления, объединяя традиции и инновации. 
        В меню вы найдёте более 100 авторских позиций - от освежающих напитков до сытных основных блюд.</p>
        
        <div class="signature-dishes">
            <h2>Наша гордость:</h2>
            <ul>
                <li>Линейка натуральных соков холодного отжима</li>
                <li>Сырная тарелка с сезонными акцентами</li>
                <li>Горячие блюда по старинным рецептам с современным twist</li>
            </ul>
        </div>
        
        <p class="cta">Выбирайте свои вкусы в <a href="/main-menu/">нашем меню</a> и дайте нам удивить вас!</p>
    </div>
</div>
{% endblock %}